<IfModule mod_rewrite.c>
     AddHandler application/x-httpd-ea-php80 .php .php8 .phtml
    RewriteEngine On
    RewriteRule ^$ public/index.php [L]
    RewriteRule ^((?!public/).*)$ public/$1 [L,NC]
</IfModule>
