a:hover{
    color: $red_fonce;
}

.btn{
    &-primary, &-primary:active, &-primary:focus{
        background-color: $red;
        border-color: $red;
    
        &:hover{
            background-color: $red_fonce;
            border-color: $red_fonce;
        }
    }

    &-google{
        display: block;
        width: 45px;
        margin: 2rem auto 1rem;
        border-radius: 10px;
        padding: 10px;
        box-shadow: 0px 0px 20px 2px rgba(0,0,0,.08);
    }
}

.form-control:focus{
    border-color: $red;
}

.btn-primary:focus, .btn-primary:active, .form-control:focus{
    box-shadow: 0 0 0 0.15rem rgba(217, 37, 27, .5);
}

.z-1000{
    z-index: 1000;
}

.font-weight-bold{
    font-weight: bold;
}

.form-control.is-invalid{
    padding-right: 0;
}

/*
*   Leafleat
*/ 
.leaflet-popup-content{
    font-family: 'Nunito';
    .title{
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-weight: 700;
        font-size: 1.2rem;
        > div{
            display: flex;
            align-items: center;
            gap: 10px;

            a:nth-child(2) img{
                width: 20px;
            }

        }
    }
    .creator{
        color: grey;
        font-size: .8rem;
    }
    .price{
        &__title{
            display: block;
            color: rgb(110, 117, 121);
            margin: 1rem 0;
            font-weight: 600;
            font-size: 1rem;
        }
    }
}